<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="org.hyperion.logging">
    <Properties>
        <Property name="layout">%d [%t] %-6level %logger{36} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layout}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>